@tailwind base;
@tailwind components;
@tailwind utilities;

.container-bg {
  background-position: center;
  background-size: cover;
  color: beige;
  /* background-image: ra-gradient(60deg, #0f1316 0%, #1a1e23 100%); */
  background-image: radial-gradient(circle, #345570 5%, #000000 87%);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}


.fancy-goo {
  filter: url("#fancy-goo");
}

.bg-glass {
  background: #0e1a1e;
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.bg-glass:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
